


#sobre-mim {
  width: 100%;
  gap: 5px;
  background-image: linear-gradient(90deg,  #f3e0f2 0%);
  padding: 28px 8%;
  
}

.container {  
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap:50px;
  border-radius: 30px;
  

   
}

#sobre-mim .title {
  padding: 0;
  
}

#sobre-mim .description {
  text-align: start;
  color: rgba(86, 86, 87, 0.575);
  font-size: 16px;
}

.sobre{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  
}

#sobre-mim #text {
  color: var(--color-primary-2);
  text-align: start;
  font-size: 1.3rem;
  font-weight: 600;
  
  
  
}

#text img{
  width: 2%;
}

.description img{
  width: 2%;
  
}
.description span{
  color: var(--color-primary-2);
  font-weight: 400;
  font-style: normal;
}

